Repository kubernetes-sigs/cloud-provider-azure, pull requests merged in 2019-07, with the labels that each got.

#171 Added several missing steps in docs/e2e-tests.md
  docs/e2e-tests.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, sig/azure, size/S

#172 Update api version of azure sdk for go to 2018-07-01
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/network_utils.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/applicationgateways.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/applicationsecuritygroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/availableendpointservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/bgpservicecommunities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/defaultsecurityrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/expressroutecircuitauthorizations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/expressroutecircuitpeerings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/expressroutecircuits.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/expressrouteserviceproviders.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/inboundnatrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/interfaceipconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/interfaceloadbalancers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/interfaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/loadbalancerbackendaddresspools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/loadbalancerfrontendipconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/loadbalancerloadbalancingrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/loadbalancernetworkinterfaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/loadbalancerprobes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/loadbalancers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/localnetworkgateways.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/packetcaptures.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/publicipaddresses.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/routefilterrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/routefilters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/routes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/routetables.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/securitygroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/securityrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/subnets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/virtualnetworkgatewayconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/virtualnetworkgateways.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/virtualnetworkpeerings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/virtualnetworks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/watchers.go
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, ok-to-test, release-note-none, sig/azure, size/XXL

#174 improve the performence of loadbalancer e2e test
  tests/e2e/utils/network_utils.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, sig/azure, size/M

#166 Adding LoadBalancer service annotation mode test case
  hack/deploy-cluster.sh
  hack/test_k8s_e2e.sh
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/network_utils.go
  tests/e2e/utils/utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/L

#189 Fixes https://github.com/kubernetes/cloud-provider-azure/issues/188
  docs/e2e-tests.md
Labels: approved, cncf-cla: yes, kind/bug, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#192 Add config manifest for serial e2e test.
  tests/e2e/utils/service_utils.go
  tests/k8s-azure/manifest/linux-vmss-serial.json
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/M

#195 Add e2e test for annotation idletimeout.
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/network_utils.go
Labels: approved, cncf-cla: yes, kind/testing, lgtm, ok-to-test, release-note-none, size/M

#196 Add config file for enabling multi-zone e2e test.
  tests/k8s-azure/manifest/linux-vmss-multi-zones.json
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/testing, size/M

#197 Add e2e test case for annotation "service.beta.kubernetes.io/azure-load-balancer-mixed-protocols".
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/network_utils.go
Labels: approved, cncf-cla: yes, kind/testing, lgtm, ok-to-test, release-note-none, size/L

#198 Add some log info to gain insight into some failure cases.
  tests/e2e/network/ensureloadbalancer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/testing, size/S

#199 Add case for testing service annotation `ServiceAnnotationAllowedServiceTag`
  tests/e2e/network/network_security_group.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/testing, size/S

#200 Add e2e test for service annotation 'ServiceAnnotationLoadBalancerResourceGroup'
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/network_utils.go
  tests/e2e/utils/resource_group_utils.go
  tests/e2e/utils/utils.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/resources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/tags.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/version.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/testing, size/XXL
