Repository kubernetes-sigs/cloud-provider-azure, pull requests merged in 2019-08, with the labels that each got.

#205 Enable e2e test for cross groups nodes.
  tests/e2e/network/cross_rg_nodes.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/network_interface_utils.go
  tests/e2e/utils/network_utils.go
  tests/e2e/utils/node_utils.go
  tests/e2e/utils/resource_group_utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, sig/testing, size/L

#207 Add test cases for standard load balancer.
  tests/e2e/network/cross_rg_nodes.go
  tests/e2e/network/standard_lb.go
  tests/e2e/utils/network_interface_utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/L

#209 Fix link for Azure availability zones KEP
  docs/using-availability-zones.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/XS

#210 Add distro setting to corresponding aks config files.
  examples/aks-engine.json
  examples/az.json
  tests/k8s-azure/manifest/linux-autoscaler.json
  tests/k8s-azure/manifest/linux-kcm.json
  tests/k8s-azure/manifest/linux-vmss-multi-zones.json
  tests/k8s-azure/manifest/linux-vmss-serial.json
  tests/k8s-azure/manifest/linux-vmss.json
  tests/k8s-azure/manifest/linux.json
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/M

#211 Update documentations for enableTcpReset and identitySystem
  docs/azure-loadbalancer.md
  docs/cloud-provider-config.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S

#212 Add test cases for slb.
  tests/e2e/network/standard_lb.go
  tests/e2e/utils/pod_utils.go
Labels: approved, cncf-cla: yes, kind/testing, lgtm, ok-to-test, release-note-none, size/L

#214 Delete distro settings.
  examples/aks-engine.json
  examples/az.json
  tests/k8s-azure/manifest/linux-autoscaler.json
  tests/k8s-azure/manifest/linux-kcm.json
  tests/k8s-azure/manifest/linux-vmss-multi-zones.json
  tests/k8s-azure/manifest/linux-vmss-serial.json
  tests/k8s-azure/manifest/linux-vmss.json
  tests/k8s-azure/manifest/linux.json
Labels: cncf-cla: yes, kind/failing-test, ok-to-test, release-note-none, size/M

#213 Add docs for two cloud configurations.
  docs/cloud-provider-config.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#216 Fix KEP link for cross resource group nodes
  docs/using-cross-resource-group-nodes.md
Labels: approved, cncf-cla: yes, kind/documentation, release-note-none, size/S

#215 Add corresponding information for newly added annotation in doc.
  docs/azure-loadbalancer.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#217 Fix the bug: cannot delete test pip and resource group after test.
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/network_utils.go
  tests/e2e/utils/resource_group_utils.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/M
