Repository kubernetes-sigs/cloud-provider-azure, pull requests merged in 2021-02, with the labels that each got.

#498 doc: add design proposal of the out-of-tree node IPAM controller
  site/content/en/development/design-docs/_index.md
  site/content/en/development/design-docs/ipam.md
Labels: approved, cncf-cla: yes, kind/design, release-note-none, size/M

#503 fix: update snapshotclient api version for Azure Stack
  pkg/azureclients/snapshotclient/interface.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#504 fix: lower snapshot and disk client API version for Azure Stack
  pkg/azureclients/diskclient/interface.go
  pkg/azureclients/snapshotclient/interface.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#508 test: update pause-win image to the new one k8s.gcr.io/pause:3.4.1
  tests/kubemark/configs/node-throughput/windows_override.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, sig/cloud-provider, sig/windows, size/XS, wg/k8s-infra

#509 test: add dual-stack test manifests
  tests/k8s-azure/manifest/linux-dual-stack-iptables-kubenet.json
  tests/k8s-azure/manifest/linux-dual-stack-ipvs-kubenet.json
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/L

#495 Enable ILB e2e tests
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/service_annotations.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/S

#489 e2e: add e2e test for annotation `service.beta.kubernetes.io/azure-deny-all-except-load-balancer-source-ranges`
  tests/e2e/network/network_security_group.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note, size/M

#512 Made load balancer and public ip extended location aware.
  pkg/provider/azure.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#513 docs: fix v0.7.0 release date
  site/content/en/blog/releases/v0.7.0.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/XS

#516 Prepare release notes for release v0.7.1
  site/content/en/blog/releases/v0.7.1.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/M

#519 E2e test should wait for service deletion
  tests/e2e/network/service_annotations.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/XS

#520 docs: update references to latest release v0.7.1
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S

#522 enable goconst linter
  .golangci.yml
  pkg/azureclients/containerserviceclient/azure_containerserviceclient_test.go
  pkg/azureclients/deploymentclient/azure_deploymentclient_test.go
  pkg/azureclients/diskclient/azure_diskclient_test.go
  pkg/azureclients/interfaceclient/azure_interfaceclient_test.go
  pkg/azureclients/loadbalancerclient/azure_loadbalancerclient_test.go
  pkg/azureclients/publicipclient/azure_publicipclient_test.go
  pkg/azureclients/routetableclient/azure_routetableclient_test.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient_test.go
  pkg/azureclients/snapshotclient/azure_snapshotclient_test.go
  pkg/azureclients/storageaccountclient/azure_storageaccountclient_test.go
  pkg/azureclients/subnetclient/azure_subnetclient_test.go
  pkg/azureclients/vmclient/azure_vmclient_test.go
  pkg/azureclients/vmsizeclient/azure_vmsizeclient_test.go
  pkg/azureclients/vmssclient/azure_vmssclient_test.go
  pkg/azureclients/vmssvmclient/azure_vmssvmclient_test.go
  pkg/cache/azure_cache_test.go
  pkg/nodeipam/ipam/cidrset/cidr_set_test.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_common_test.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_managedDiskController_test.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_vmss_cache_test.go
  tests/e2e/network/ensureloadbalancer.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XXL

#525 Allow disabling AzureStackCloud API versions when using AzureStackCloud config on public cloud
  pkg/azureclients/azure_client_config.go
  pkg/azureclients/diskclient/azure_diskclient.go
  pkg/azureclients/interfaceclient/azure_interfaceclient.go
  pkg/azureclients/loadbalancerclient/azure_loadbalancerclient.go
  pkg/azureclients/publicipclient/azure_publicipclient.go
  pkg/azureclients/routeclient/azure_routeclient.go
  pkg/azureclients/routetableclient/azure_routetableclient.go
  pkg/azureclients/securitygroupclient/azure_securitygroupclient.go
  pkg/azureclients/snapshotclient/azure_snapshotclient.go
  pkg/azureclients/storageaccountclient/azure_storageaccountclient.go
  pkg/azureclients/subnetclient/azure_subnetclient.go
  pkg/azureclients/vmclient/azure_vmclient.go
  pkg/azureclients/vmsizeclient/azure_vmsizeclient.go
  pkg/azureclients/vmssclient/azure_vmssclient.go
  pkg/azureclients/vmssvmclient/azure_vmssvmclient.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_vmss.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/M
