Repository kubernetes-sigs/cloud-provider-azure, pull requests merged in 2022-02, with the labels that each got.

#1102 fix: azure file location specification issue
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_controller_common_test.go
  pkg/provider/azure_controller_standard.go
  pkg/provider/azure_controller_standard_test.go
  pkg/provider/azure_controller_vmss.go
  pkg/provider/azure_controller_vmss_test.go
  pkg/provider/azure_managedDiskController.go
  pkg/provider/azure_managedDiskController_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_storageaccount.go
  pkg/provider/azure_vmsets.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/L, kind/cleanup

#1103 doc: add release doc for multiple versions
  site/content/en/blog/releases/v0.7.12.md
  site/content/en/blog/releases/v0.7.13.md
  site/content/en/blog/releases/v1.0.10.md
  site/content/en/blog/releases/v1.0.9.md
  site/content/en/blog/releases/v1.1.5.md
  site/content/en/blog/releases/v1.1.6.md
  site/content/en/blog/releases/v1.23.2.md
  site/content/en/blog/releases/v1.23.3.md
Labels: cncf-cla: yes, size/XL, release-note-none

#1090 Fix incorrect EnableTCPReset for non-TCP protocols
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/M, ok-to-test

#1084 Refactor : move retry on regional endpoint to SendDecorator
  pkg/azureclients/armclient/azure_armclient.go
  pkg/azureclients/armclient/azure_armclient_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, release-note-none, kind/cleanup

#1105 Cherry-pick: Fix incorrect EnableTCPReset for non-TCP protocols
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/M, ok-to-test

#1106 Cherry-pick: Fix incorrect EnableTCPReset for non-TCP protocols
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/M, ok-to-test

#1108 Cherry-pick: Fix incorrect EnableTCPReset for non-TCP protocols
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/M, ok-to-test

#1110 build: auto generate release note for site
  .github/workflows/release.yaml
Labels: cncf-cla: yes, size/M, release-note-none, ok-to-test

#1112 Build/auto generate release note release 0.7
  .github/workflows/release.yaml
Labels: needs-ok-to-test, approved, cncf-cla: yes, lgtm, size/M, release-note-none

#1113 Build/auto generate release note release 1.0
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/M, release-note-none

#1114 Build/auto generate release note release 1.1
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/M, release-note-none

#1115 Build/auto generate release note release 1.23
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/M, release-note-none

#1111 build: create release-note PR based on `master` branch
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/XS, release-note-none

#1116 fix(build): fix branch for release-0.7
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/XS, release-note-none

#1117 fix(build): fix branch for release-1.0
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/XS, release-note-none

#1119 fix(build): fix branch for release-1.23
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/XS, release-note-none

#1118 fix(build): fix branch for release-1.1
  .github/workflows/release.yaml
Labels: needs-ok-to-test, cncf-cla: yes, size/XS, release-note-none

#1104 Add a job to check code updates
  .github/workflows/test-updates.yml
  hack/update-mock-clients.sh
  hack/verify-updates.sh
  pkg/azureclients/armclient/mockarmclient/interface.go
  pkg/azureclients/containerserviceclient/mockcontainerserviceclient/interface.go
  pkg/azureclients/deploymentclient/mockdeploymentclient/interface.go
  pkg/azureclients/diskclient/mockdiskclient/interface.go
  pkg/azureclients/fileclient/mockfileclient/interface.go
  pkg/azureclients/interfaceclient/mockinterfaceclient/interface.go
  pkg/azureclients/loadbalancerclient/mockloadbalancerclient/interface.go
  pkg/azureclients/privatednsclient/mockprivatednsclient/interface.go
  pkg/azureclients/privatednszonegroupclient/mockprivatednszonegroupclient/interface.go
  pkg/azureclients/privateendpointclient/mockprivateendpointclient/interface.go
  pkg/azureclients/privatelinkserviceclient/mockprivatelinkserviceclient/interface.go
  pkg/azureclients/publicipclient/mockpublicipclient/interface.go
  pkg/azureclients/routeclient/mockrouteclient/interface.go
  pkg/azureclients/routetableclient/mockroutetableclient/interface.go
  pkg/azureclients/securitygroupclient/mocksecuritygroupclient/interface.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/interface.go
  pkg/azureclients/storageaccountclient/mockstorageaccountclient/interface.go
  pkg/azureclients/subnetclient/mocksubnetclient/interface.go
  pkg/azureclients/virtualnetworklinksclient/mockvirtualnetworklinksclient/interface.go
  pkg/azureclients/vmasclient/mockvmasclient/interface.go
  pkg/azureclients/vmclient/mockvmclient/interface.go
  pkg/azureclients/vmsizeclient/mockvmsizeclient/interface.go
  pkg/azureclients/vmssclient/mockvmssclient/interface.go
  pkg/azureclients/vmssvmclient/mockvmssvmclient/interface.go
  pkg/azureclients/zoneclient/mockzoneclient/interface.go
  site/content/en/development/dependencies.md
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note-none, kind/cleanup, ok-to-test

#963 Fix: health probe config should be port-specific
  pkg/consts/consts.go
  pkg/consts/helpers.go
  pkg/consts/helpers_test.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_test.go
  tests/e2e/network/service_annotations.go
Labels: size/XXL, release-note, approved, kind/bug, cncf-cla: yes, lgtm, ok-to-test

#1034 feat: support changing LB backend pool type between nodeIP and nodeIP…
  pkg/azureclients/loadbalancerclient/azure_loadbalancerclient.go
  pkg/azureclients/loadbalancerclient/interface.go
  pkg/azureclients/loadbalancerclient/mockloadbalancerclient/interface.go
  pkg/provider/azure_backoff.go
  pkg/provider/azure_backoff_test.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_utils.go
Labels: release-note, kind/feature, approved, cncf-cla: yes, size/L

#1107 Cherry-pick: Fix incorrect EnableTCPReset for non-TCP protocols
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/M, ok-to-test

#1125 [release-1.23] feat: support changing LB backend pool type between nodeIP and nodeIP…
  pkg/azureclients/loadbalancerclient/azure_loadbalancerclient.go
  pkg/azureclients/loadbalancerclient/interface.go
  pkg/azureclients/loadbalancerclient/mockloadbalancerclient/interface.go
  pkg/provider/azure_backoff.go
  pkg/provider/azure_backoff_test.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_utils.go
Labels: release-note, kind/feature, approved, cncf-cla: yes, lgtm, size/L

#1085 feat: Support controller health check in ccm
  cmd/cloud-controller-manager/app/controllermanager.go
  cmd/cloud-controller-manager/app/testing/testserver.go
  cmd/cloud-node-manager/app/nodemanager.go
  vendor/k8s.io/controller-manager/controller/interfaces.go
  vendor/modules.txt
Labels: release-note, approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#1120 chore: add subsID parameter in snapshot and disk client
  pkg/azureclients/diskclient/azure_diskclient.go
  pkg/azureclients/diskclient/azure_diskclient_test.go
  pkg/azureclients/diskclient/interface.go
  pkg/azureclients/diskclient/mockdiskclient/interface.go
  pkg/azureclients/snapshotclient/azure_snapshotclient.go
  pkg/azureclients/snapshotclient/azure_snapshotclient_test.go
  pkg/azureclients/snapshotclient/interface.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/interface.go
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_controller_common_test.go
  pkg/provider/azure_managedDiskController.go
  pkg/provider/azure_managedDiskController_test.go
  pkg/provider/azure_test.go
Labels: release-note, kind/feature, approved, cncf-cla: yes, lgtm, size/L

#1131 [release-0.7]Fix: health probe config should be port-specific
  pkg/consts/consts.go
  pkg/consts/helpers.go
  pkg/consts/helpers_test.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_test.go
  tests/e2e/network/service_annotations.go
Labels: size/XXL, release-note, kind/feature, approved, kind/bug, cncf-cla: yes, lgtm

#1139 Docs: add docs for health probe customization for svc port
  site/content/en/topics/loadbalancer.md
Labels: approved, cncf-cla: yes, lgtm, kind/documentation, size/M, release-note-none

#1130 [release-1.0]Fix: health probe config should be port-specific
  pkg/consts/consts.go
  pkg/consts/helpers.go
  pkg/consts/helpers_test.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_test.go
  tests/e2e/network/service_annotations.go
Labels: size/XXL, release-note, kind/feature, approved, kind/bug, cncf-cla: yes, lgtm

#1150 [release-1.23]Add a job to check code updates
  .github/workflows/test-updates.yml
  hack/update-mock-clients.sh
  hack/verify-updates.sh
  pkg/azureclients/armclient/mockarmclient/interface.go
  pkg/azureclients/containerserviceclient/mockcontainerserviceclient/interface.go
  pkg/azureclients/deploymentclient/mockdeploymentclient/interface.go
  pkg/azureclients/diskclient/mockdiskclient/interface.go
  pkg/azureclients/fileclient/mockfileclient/interface.go
  pkg/azureclients/interfaceclient/mockinterfaceclient/interface.go
  pkg/azureclients/privatednsclient/mockprivatednsclient/interface.go
  pkg/azureclients/privatednszonegroupclient/mockprivatednszonegroupclient/interface.go
  pkg/azureclients/privateendpointclient/mockprivateendpointclient/interface.go
  pkg/azureclients/privatelinkserviceclient/mockprivatelinkserviceclient/interface.go
  pkg/azureclients/publicipclient/mockpublicipclient/interface.go
  pkg/azureclients/routeclient/mockrouteclient/interface.go
  pkg/azureclients/routetableclient/mockroutetableclient/interface.go
  pkg/azureclients/securitygroupclient/mocksecuritygroupclient/interface.go
  pkg/azureclients/snapshotclient/mocksnapshotclient/interface.go
  pkg/azureclients/storageaccountclient/mockstorageaccountclient/interface.go
  pkg/azureclients/subnetclient/mocksubnetclient/interface.go
  pkg/azureclients/virtualnetworklinksclient/mockvirtualnetworklinksclient/interface.go
  pkg/azureclients/vmasclient/mockvmasclient/interface.go
  pkg/azureclients/vmclient/mockvmclient/interface.go
  pkg/azureclients/vmsizeclient/mockvmsizeclient/interface.go
  pkg/azureclients/vmssclient/mockvmssclient/interface.go
  pkg/azureclients/vmssvmclient/mockvmssvmclient/interface.go
  pkg/azureclients/zoneclient/mockzoneclient/interface.go
  site/content/en/development/dependencies.md
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note-none, ok-to-test

#1158 Add missing ["] in pkg/provider/doc.go file.
  pkg/provider/doc.go
Labels: approved, cncf-cla: yes, lgtm, kind/documentation, size/XS, release-note-none, ok-to-test

#1159 Fix test_k8s_e2e_capz.sh
  hack/test_k8s_e2e_capz.sh
Labels: cncf-cla: yes, size/S, release-note-none

#1168 fix: increase Azure ACR credential provider timeout
  pkg/credentialprovider/azure_acr_helper.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/XS

#1196 capz deploy-cluster script and doc minor fixes
  site/content/en/development/deploy-cluster.md
  tests/k8s-azure/manifest/cluster-api/vmss-multi-nodepool.yaml
Labels: needs-ok-to-test, approved, kind/bug, cncf-cla: yes, lgtm, kind/documentation, size/XS, release-note-none

#1198 build: remove site-header from release-note
  .github/workflows/release.yaml
Labels: needs-ok-to-test, approved, cncf-cla: yes, lgtm, size/S, release-note-none

#1200 feat: add more options in file client
  pkg/azureclients/fileclient/azure_fileclient.go
Labels: release-note, kind/feature, approved, cncf-cla: yes, lgtm, size/S

#1202 Node manager should retry when not able to get providerID
  pkg/nodemanager/nodemanager.go
  pkg/nodemanager/nodemanager_test.go
Labels: approved, kind/bug, cncf-cla: yes, lgtm, size/M, release-note-none, ok-to-test
