Repository kubernetes-sigs/cloud-provider-azure, pull requests merged in 2024-06, with the labels that each got.

#6316 fix: ignore Windows 2019 in `ensureVMSSInPool` for IPv6 backend pools only
  pkg/consts/consts.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/L, ok-to-test

#6331 fix: Ensure NSG rules cleanup excludes DestinationApplicationSecurityGroups
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/testutil/fixture/azure_securitygroup.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/M, ok-to-test

#6341 [release-1.30] fix: Ensure NSG rules cleanup excludes DestinationApplicationSecurityGroups
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/testutil/fixture/azure_securitygroup.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/M, ok-to-test

#6332 Duplicate annotation "service.beta.kubernetes.io/azure-disable-load-b…
  content/en/topics/pls-integration.md
Labels: approved, cncf-cla: yes, lgtm, kind/documentation, size/XS, release-note-none, ok-to-test

#6340 [release-1.29] fix: Ensure NSG rules cleanup excludes DestinationApplicationSecurityGroups
  Dockerfile
  cloud-node-manager.Dockerfile
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/testutil/fixture/azure_securitygroup.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/M, ok-to-test

#6361 [release-1.27]Chores:fix spelling errors
  pkg/nodemanager/nodemanager.go
  pkg/nodemanager/nodemanager_test.go
  tests/kubemark/configs/experimental/storage/pod-startup/config.yaml
Labels: approved, cncf-cla: yes, size/XS, release-note-none, kind/cleanup

#6360 [release-1.28]Chores: fix spelling errors
  pkg/nodemanager/nodemanager.go
  pkg/nodemanager/nodemanager_test.go
  tests/kubemark/configs/experimental/storage/pod-startup/config.yaml
Labels: approved, cncf-cla: yes, size/XS, release-note-none, kind/cleanup

#6317 Update Helm chart for v1.30.2 and v1.29.6 CPA releases
  README.md
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.30.2.tgz
  helm/repo/index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, kind/cleanup

#6452 Update Helm chart for v1.30.3 and v1.29.7 releases
  README.md
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.30.3.tgz
  helm/repo/index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, kind/cleanup

#6401 Refactor fetching retain ports when reconciling SecurityGroup
  internal/testutil/assert.go
  internal/testutil/clone.go
  internal/testutil/fixture/azure.go
  internal/testutil/fixture/azure_loadbalancer.go
  internal/testutil/fixture/azure_publicip.go
  internal/testutil/fixture/azure_securitygroup.go
  internal/testutil/fixture/fixture.go
  internal/testutil/fixture/kubernetes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note-none, kind/cleanup, ok-to-test

#6464 [release-1.29] Refactor fetching retain ports when reconciling SecurityGroup
  internal/testutil/assert.go
  internal/testutil/clone.go
  internal/testutil/fixture/azure.go
  internal/testutil/fixture/azure_loadbalancer.go
  internal/testutil/fixture/azure_publicip.go
  internal/testutil/fixture/azure_securitygroup.go
  internal/testutil/fixture/fixture.go
  internal/testutil/fixture/kubernetes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note-none, kind/cleanup, ok-to-test

#6465 [release-1.30] Refactor fetching retain ports when reconciling SecurityGroup
  internal/testutil/assert.go
  internal/testutil/clone.go
  internal/testutil/fixture/azure.go
  internal/testutil/fixture/azure_loadbalancer.go
  internal/testutil/fixture/azure_publicip.go
  internal/testutil/fixture/azure_securitygroup.go
  internal/testutil/fixture/fixture.go
  internal/testutil/fixture/kubernetes.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  pkg/provider/loadbalancer/securitygroup/securityrule.go
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note-none, kind/cleanup, ok-to-test

#6466 Remove unsupported versions from matrices
  README.md
Labels: approved, cncf-cla: yes, lgtm, kind/documentation, size/S, release-note-none

#6474 [azclients] Remove redundant URL scheme when getting TokenScope
  pkg/azclient/auth.go
Labels: approved, kind/bug, cncf-cla: yes, lgtm, size/XS, release-note-none, ok-to-test

#6482 Upgrade azclient pkg
  go.mod
  go.sum
  pkg/provider/config/azure_auth.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth.go
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, kind/cleanup, ok-to-test

#6489 [release-1.29] Upgrade azclient
  go.mod
  go.sum
  pkg/provider/config/azure_auth.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/auth.go
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, kind/cleanup, ok-to-test

#6473 Refactor: replace with contextual logging in LoadBalancer interfaces
  pkg/log/logger.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, release-note-none, kind/cleanup, ok-to-test

#6487 Add e2e test for multiple services disabling floating IP
  tests/e2e/network/network_security_group.go
Labels: approved, cncf-cla: yes, lgtm, size/L, release-note-none, kind/cleanup, ok-to-test

#6491 [release-1.29] Add e2e tests and refactor logging
  pkg/log/logger.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_accesscontrol.go
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/securitygroup/securitygroup.go
  pkg/provider/loadbalancer/securitygroup/securitygroup_test.go
  tests/e2e/network/network_security_group.go
Labels: approved, cncf-cla: yes, lgtm, size/XL, release-note-none, kind/cleanup, ok-to-test
