Repository kubernetes-sigs/cloud-provider-azure, pull requests merged in 2025-07, with the labels that each got.

#9227 fix: don't change subnet.PrivateEndpointNetworkPolicies setting if it's already set
  pkg/provider/storage/azure_storageaccount.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/XS, tide/merge-method-squash

#9223 [release-1.30] Skip adding Internet service tag if IP ranges allow all
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/M, kind/cleanup, tide/merge-method-squash, ok-to-test

#9226 [release-1.33] Skip adding Internet service tag if IP ranges allow all
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/M, kind/cleanup, tide/merge-method-squash, ok-to-test

#9225 [release-1.32] Skip adding Internet service tag if IP ranges allow all
  pkg/provider/azure_loadbalancer_accesscontrol_test.go
  pkg/provider/loadbalancer/accesscontrol.go
Labels: release-note, approved, cncf-cla: yes, lgtm, size/M, kind/cleanup, tide/merge-method-squash, ok-to-test

#9252 chore: fix typo in vmss controller
  pkg/provider/azure_controller_vmss.go
Labels: release-note, approved, kind/bug, cncf-cla: yes, lgtm, size/XS, tide/merge-method-squash, ok-to-test

#9271 doc: Update release docs
  content/en/blog/releases/v1.30.14.md
  content/en/blog/releases/v1.31.8.md
  content/en/blog/releases/v1.32.7.md
  content/en/blog/releases/v1.33.2.md
Labels: approved, cncf-cla: yes, kind/documentation, size/L, release-note-none

#9269 Update Helm chart to current patch releases
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.33.2.tgz
  helm/repo/index.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, kind/cleanup, tide/merge-method-squash

#9207 feat(helm): allow to specify updateStrategy for cloud-controller deployment
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/cloud-provider-azure/values.yaml
  helm/repo/cloud-provider-azure-1.33.1.tgz
  helm/repo/cloud-provider-azure-1.33.3.tgz
  helm/repo/index.yaml
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/M, release-note-none, tide/merge-method-squash, ok-to-test
